# Stencil CLI specific files
.stencil
.stencil-cli
config.stencil.json
secrets.stencil.json

# Node.js dependencies
node_modules/

# Build artifacts and temporary files
assets/dist/
assets/css-artifacts
assets/js/bundle.js
vendor/bundle
bundle.zip
.bundle
*.js.map
*.zip
.idea/
*.log
.DS_Store # macOS specific
Thumbs.db # Windows specific

# Local configuration files
config.json.local # If you use a local config file not intended for production










