// =============================================================================
// BUTTONS (CSS)
// =============================================================================

.button {
    line-height: 1rem;
    transition: all 0.15s ease;

    + .button {
        margin-left: 0;

        @include breakpoint("medium") {
            margin-left: spacing("half");
        }
    }
    border-radius:0px;

    &.button--secondary{
        border-color:stencilColor("button--primary-color");
        color: stencilColor("button--primary-color");
        &:hover{
            background-color: stencilColor("button--primary-color");
            color: stencilColor("color-primary");
        }
    }

    &.button--small{
        font-size: 12px;
    }
}

.button[disabled] {
    cursor: not-allowed;
}

.button--icon {
    svg {
        fill: stencilColor("button--icon-svg-color");
    }
}
