// =============================================================================
// BODY (CSS)
//
// 1. Header is fixed on small screens, use the content body to create the whitespace
//    between it and the header on all situations. If you change the spacing here,
//    please update .heroCarousel too.
//
// =============================================================================


.body {
    margin-bottom: spacing("double") * 2;
    &:not(:has(.breadcrumbs)){
        margin-top: 0 !important; // 1
    }

    @include breakpoint("medium") {
        margin-top: spacing("single") + spacing("base"); // 1
    }
}


.page {
    @include grid-row(
        $behavior: nest
    );
}

.page-content,
.page-content--full {
    @include grid-column(12);
}

.page-region {
    @include grid-column(12);
    float: right;
    width: 100%;

    @include breakpoint("medium") {
        width: 75%;
    }
}

.page-content--centered {

    @include breakpoint("medium") {
        @include grid-column(
            $columns: 8,
            $center: true
        );
    }
}

.page-content--textCenter {
    text-align: center;
}

.page-sidebar {
    @include grid-column(12);
    position: relative;

    @include breakpoint("medium") {
        @include grid-column(3);

        + .page-content {
            @include grid-column(9);
        }
    }
}

#product-listing-container{
    .productGrid.loading{
        position: relative;
    }

    .productGrid.loading::after {
        content:'';
        width: 48px;
        height: 48px;
        border: 5px solid #FFF;
        border-bottom-color:#cb8375;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        position: absolute;
        bottom: -70px;
        left: 0;
        right: 0;
        margin: auto;
    }

    nav.pagination{
        opacity: 0;
        visibility: hidden;
        display: none;
    }

    &:has(.productGrid.loading){
        .categoryActionFooter{
            border:none;
        }
    }

    @keyframes rotation {
        0% {
        transform: rotate(0deg);
        }
        100% {
        transform: rotate(360deg);
        }
    } 

}
