// =============================================================================
// FACET LABEL (CSS)
// =============================================================================

.facetLabel {
    background: $facetLabel-backgroundColor;
    border-radius: $facetLabel-borderRadius;
    padding: spacing("eighth") spacing("third") spacing("eighth") (spacing("third") + spacing("eighth"));
    text-decoration: none;
    color: stencilColor("button--primary-color");
    &:hover,
    &:focus ,
    &:active {
        color: stencilColor("button--primary-color");
        background: $facetLabel-backgroundColorHover;
    }
    .icon {
        @include square(12px);
        display: inline-block;
        fill: $facetLabel-removeIcon-color;
        position: relative; // Vertical align the icon
        top: -1px; // Vertical align the icon
    }
}
