
.widget-template{
    .container{
        padding:0px;
    }
}

/* Three Column Section Widget */
.widget-template.column-section{
    &.layout1{
        .container{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 3rem;
            .column-wrapper{
                width: 100%;
                text-align: center;
                .imageurl{
                    display: block;
                    margin-bottom: 16px;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .heading-title{
                    margin: 0 0 40px 0;
                    position: relative;
                    &:after {
                        content: '';
                        border-top: 1px solid #dddddd;
                        width: 40%;
                        display: block;
                        margin: auto;
                        bottom: -20px;
                        position: relative;
                    }
                }
                .description{
                    margin: 0 0 16px 0;
                }
            }
        }
    }

    &.layout2{
        .container{
            display: flex;
            gap:20px;
            justify-content: center;
            .column-wrapper{
                display: flex;
                max-width: 380px;
                &:nth-child(odd){
                    flex-direction: column-reverse;
                    @media (max-width: $screen-medium)  {
                        flex-direction: column;
                    }
                }
                &:nth-child(even){
                    flex-direction: column;
                }
                .imageurl{
                    min-height: 400px;
                    img{

                    }
                }
                .content-wrapper{
                    text-align: center;
                    padding: 30px 20px;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .heading-title{
                        margin: 0 0 16px 0;
                        &:after {

                        }
                    }
                    &:not(:has(.button)){
                        .description{
                            margin: 0;
                        }
                    }
                }

            }
            @media (max-width: $screen-medium)  {
                align-items: center;
            }
        }
        &.left-aligned{
            .content-wrapper{
                text-align: left;
            }
        }
        &.center-aligned{
            .content-wrapper{
                text-align: center;
            }
        }
        &.right-aligned{
            .content-wrapper{
                text-align: right;
            }
        }
    }

    &:not(:has(.column-wrapper:nth-child(3))){
         .imageurl{
            max-height: 400px;
            position: relative;
            overflow: hidden;
        }
    }
}

@media (max-width: $screen-large) {
    .widget-template.column-section{
        .container{
            padding: 0;
        }
        &:not(:has(.column-wrapper:nth-child(3))){
            .imageurl{
                max-height: 260px;
            }
        }
    }
}

@media (max-width: 800px) {
    .widget-template.column-section{
        .container{
            flex-direction: column;
            .column-wrapper{
                width: 100%;
                .imageurl{
                    img{
                        /*max-width: 300px;*/
                    }
                }
            }
        }
    }
}

/* Hero Section Widget */
.widget-template.hero-section{
    .hero-wrapper{
        width: 100%;
        overflow: hidden;
        display: flex;
        height: 650px;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 20px;
        .hero-content{
            .heading-title{
                font-size: 45px;
                font-weight: 700;
                letter-spacing: normal;
                line-height: 120%;
                margin-top: 0;
            }
            .heading-subtitle{
                margin-top: 0;
                font-size: 26px;
                font-weight: 500;
                letter-spacing: normal;
                line-height: 120%;
                font-style: italic;
            }
            .description{
                font-size: 17px;
                line-height: 30px;
            }
        }
    }
   &.layout1{
        .hero-content{
            max-width: 450px;
        }
        &.left-aligned{
            .hero-wrapper{
                text-align: left;
            }
        }
        &.center-aligned{
            .hero-wrapper{
                text-align: center;
                .hero-content{
                    width: 100%;
                    right: 0;
                    left: 0;
                }
            }
        }
        &.right-aligned{
            .hero-wrapper{
                text-align: right;
                .hero-content{
                    width: 100%;
                    right: 50px;
                    left: 0;
                    margin-left: auto;
                    margin-right: 0;
                }
            }
        }
        .hero-wrapper{
            min-height: 650px;
            .media-wrapper{
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                aspect-ratio: 16/9;
                pointer-events: none;
                overflow: hidden;
            }
            iframe{
                width: 300%;
                height: 130%;
                margin-left: -100%;
                margin-top: -10%;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;  
            }
            .hero-content{
                position: absolute;
                left: 50px;
                top: 0;
                bottom: 0;
                margin: auto;
                height: fit-content;
                .heading-title{
                    color:#ffffff;
                    margin-bottom: 0;
                }
                .heading-subtitle{
                    color:#ffffff;
                }
                .description{
                    color:#ffffff;
                }
            }
        }
    }
    &.layout2{
        .hero-wrapper{
            height: 350px;
            max-height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            .media-wrapper{
                width: 50%;
                flex: 1 1 50%;
                height: 100%;
                object-fit: cover;
                iframe{
                    width: 300%;
                    height: 130%;
                    margin-left: -100%;
                    margin-top: -10%;
                }
            }
            .hero-content{
                width: 50%;
                flex: 1 1 50%;
                padding: 60px;
                background-color: #F3F1E9;
                height: 100%;
            }
        }
    }
    &.layout2.right-aligned{
        .hero-wrapper{
            flex-direction: row-reverse;
        }
    }
}

@media (max-width: $screen-large) {
    .widget-template.hero-section{
         .container{
            padding: 0;
        }
        &.layout1{
            .hero-wrapper{
                img{
                    position: relative;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    width: 100%;
                    right: 0;
                    object-fit: cover;
                    object-position: center;
                }
                .hero-content{
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    height: -webkit-fit-content;
                    height: -moz-fit-content;
                    height: fit-content;
                    width: 100%;
                    max-width: 100%;
                    padding: 30px;
                }
            }
        }
        &.layout2{
            .hero-wrapper{
                .hero-content{
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                }
            }
        }
    }
}

@media (max-width: 800px) {
    .widget-template.hero-section{
        .hero-wrapper{
            
        }
        &.layout1{
            .hero-wrapper{
                img{
                    position: relative;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    width: 100%;
                    right: 0;
                    object-fit: cover;
                    object-position: center;
                }
                .hero-content{
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    height: -webkit-fit-content;
                    height: -moz-fit-content;
                    height: fit-content;
                    width: 100%;
                    max-width: 100%;
                    padding: 30px;
                }
            }
        }
        &.layout2{
            .hero-wrapper{
                height: auto;
                max-height: fit-content;
                flex-direction: column;
                img{
                    width: 100%;
                    flex: 1 1 100%;
                     height: 350px;
                    max-height: 350px;
                }
                .hero-content{
                    width: 100%;
                    flex: 1 1 100%;
                    padding: 30px;
                }
            }
        }
        &.layout2.right-aligned{
            .hero-wrapper{
                flex-direction: column-reverse;
            }
        }
    }
}

/* Region Styling */

/* Features Section Widget */
.widget-template.features-section{
    .container{
        .feature-wrapper{
            display: flex;
            gap:20px;
            justify-content: center;
            .feature-column{
                flex: 1 1 100%;
                max-width: 330px;
                text-align: center;
                .media-wrapper{
                    max-width: 90px;
                    margin: 0 auto 15px auto;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                @media (max-width: $screen-large) {
                    flex: 1 1 50%;
                }
                @media (max-width: $screen-medium) {
                    flex: 1 1 100%;
                }
            }
            @media (max-width: $screen-large) {
                flex-flow: wrap;
                max-width: 1024px;
                margin: auto;
            }
            @media (max-width: $screen-medium) {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

/* Testimonials Section Widget */
.widget-template.testimonial-section{
    .container{
        .testimonial-wrapper{
            display: flex;
            gap:20px;
            justify-content: center;
            .testimonial-column{
                flex: 1 1 100%;
                text-align: center;
                padding: 60px 30px;
                min-height: 400px;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                .media-wrapper{
                    max-width: 30px;
                    margin: 0 auto 0 auto;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .testimonial-quote{
                    line-height: 2;
                    margin: 0;
                }
                .testimonial-author{
                    margin: 0;
                    text-transform: none;
                    span{
                        display: block;
                    }
                }
                @media (max-width: $screen-large) {
                    flex: 1 1 50%;
                }
                @media (max-width: $screen-medium) {
                    flex: 1 1 100%;
                }
            }
            @media (max-width: $screen-large) {
                flex-flow: wrap;
                max-width: 1024px;
                margin: auto;
            }
            @media (max-width: $screen-medium) {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}