
.productView-details:has(.bulk-option-form) .productView-options{
    display: none;
}

.productView-details.product-data.out-of-stock{
    [data-product-option-change]{
        display: none !important;
    }
}

/* Loader style */
.loader{
    &:after{
        content:'';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 48px;
        width: 48px;
        border: 5px solid #dddddd;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        z-index: 9;
    }
    &:before{
        content: '';
        background-color: #444444;
        opacity: 0.3;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 5px;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.product-options{
    .bulk-add-to-cart-title{
        display: none;
    }
    .bulk-option-form{
        [data-product-option-change]{
            display: block !important;
        }
        .form-option-wrapper{
            min-height: 111px;
            max-height: 111px;
            min-width: 80px;
            max-width: 80px;
            margin-right: 10px;
            margin-bottom: 10px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .16);
            border-radius: 5px;
            vertical-align: top;
            label{
                min-width: 100%;
                /*pointer-events: none;*/
                margin-bottom: 0;
                background-color: #f2f2f2;
                border:none;
                height: 45px;
                width: 60px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .form-option-variant{
                    font-size: 12px;
                    line-height: 12px;
                    text-align: left;
                }
            }
            .form-radio.error{
                input.bulk-quantity-input{
                    background-color: rgba(255, 0, 0, 0.3);
                }
            }
        }
        .bulk-add-to-cart-action{
            font-size: 14px;
            line-height: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            input.bulk-quantity-input{
                width: 100%;
                height: 45px;
                /*background-color: #e4fde1;*/
                background-color: #ffffff;
                border:0px;
                border-top:1px solid #46973a;
                text-align: center;
            }
            .bulk-quantity-controls{
                display: flex;
                flex-direction: row;
                width: 100%;
                border-top: 1px solid #ccc;
                button{
                    color: #000;
                    width: 100%;
                    height: 20px;
                    padding: 0 !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.decreaseQtyBtn{
                        border-right: 0.5px solid #ccc;
                    }
                    &.increaseQtyBtn{
                        border-left: 0.5px solid #ccc;
                    }
                    &:hover{
                        background-color: #f2f2f2;
                    }
                }
            }
        }
       
    }
    .custom-add-to-cart-button{
        display: flex;
        flex-direction: column;
        max-width: 310px;
        #BulkaddToCart{
            margin-right: 10px;
        }
        .button{
            margin-top: 0 !important;
            margin-left: 0;
            border-radius: 0;
        }
        .button,
        #BulkaddToCart{
            margin-bottom: 8px;
        }
        .form-wishlist{
            margin: 0;
        }
    }
}

#quickCheckoutModal{
    overflow: auto;
    .modal-header,
    .modal-body,
    .modal-footer{
        padding: 20px;
    }
    .modal-header{
        h3{
            margin: 0;
        }
    }
    .modal-product-list{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .productItem{
            position: relative;
            max-width: 310px;
            border: 1px solid #e1e1e1;
            flex: 1 0 23%;
            @media (max-width: 1024px) {
                flex: 1 0 49%;
            }
            @media (max-width: 767px) {
                flex: 1 0 100%;
            }
            .productImage{
                display: none;
                width: 100%;
                text-align: center;
                img{
                    width: auto;
                    height: 250px;
                    max-height: 250px;
                    object-fit: cover;
                }
            }
            .productInfo{
                padding:10px;
                .productTitle{
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .productQuantity{
                    margin-bottom: 14px;
                }
                .productVariantStatus{
                    pointer-events: none;
                    width: 100%;
                    margin: 0;
                    background-color: stencilColor("navPages-subMenu-backgroundColor");
                    border-color: stencilColor("navPages-subMenu-backgroundColor");
                    color: stencilColor("navPages-color");
                }
            }
        }
    }
}