// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------

.productView {
    @include grid-row($behavior: "nest");

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -$container-padding;
    margin-right: -$container-padding;

    @include breakpoint("medium") {
        display: flex;
    }

    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-images {
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0;

    @include breakpoint("medium") {
        padding-left: spacing("base");
        padding-right: spacing("base");
        width: grid-calc(6, $total-columns);
    }
}

.productView-details {
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0;

    @include breakpoint("medium") {
        padding-left: spacing("base");
        padding-right: spacing("base");
        clear: right;
        float: right;
        width: grid-calc(6, $total-columns);
        &.product-options{
            width: grid-calc(12, $total-columns);
            padding-left: 0;
            padding-right: 0;
        }
    }

    .productView--quickView & {
        position: relative;
    }

    &.product-data {
        order: -1;
    }
}

.productView-description {
    @include grid-column(12);
    padding-top: spacing("double");
    padding-left: spacing("single");
    padding-right: spacing("single");
    position: relative;
    z-index: 1;

    .productView-title {
        border-bottom: container("border");
        margin-bottom: spacing("base");
        padding-left: spacing("base");
        padding-right: spacing("base");
    }

    .productView-description {
        @include breakpoint("medium") {
            clear: both;
            float: none;
            width: 100%;
        }
    }
}

.productView-relatedProducts{
    padding-left: 0;
    padding-right: 0;
     @include breakpoint("medium") {
        padding-left: spacing("base");
        padding-right: spacing("base");
    }
}

.productView-hero{
    padding-bottom: spacing("double");
    @include breakpoint("medium") {
        padding-bottom: 0;
    }
}