{{#each product.custom_fields}}
    {{#if (dashcase name) '!==' "unit"}}
        {{#if (dashcase name) '!==' "symbol"}}
            {{#if (dashcase name) '!==' "product-type"}}
                {{#if (dashcase name) '!==' "item-group-exact"}}
                    {{#if (dashcase name) '!==' "income-account"}}
                        {{#if (dashcase name) '!==' "ean"}}
                            {{#if (dashcase name) '!==' "gender"}}
                                {{#if (dashcase name) '!==' "collection"}}
                                    <div class="productView-info-item productView-info-item--{{dashcase name}}">
                                        <dt class="productView-info-name">
                                            {{name}}:
                                        </dt>
                                        <dd class="productView-info-value">{{{value}}}</dd>
                                    </div>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
         {{/if}}
    {{/if}}
{{/each}}
